:root {
  --color-white: rgba(255, 255, 255, 0.35);
  --color-black: #4a192c;

  --color-dark-1: rgba(255, 255, 255, 0.5);
  --color-dark-2: #ff7eb3;

  --color-gray-1: rgba(255, 255, 255, 0.4);
  --color-gray-2: rgba(255, 255, 255, 0.6);
  --color-gray-3: #8a4a5e;
  --color-gray-4: #a35d74;

  --border: 1px solid var(--color-gray-2);
  --border-radius: 16px;

  --box-shadow: 0 8px 32px 0 rgba(255, 126, 179, 0.3);

  --input-height: 44px;

  --transition-duration: 0.3s;
}
